h1{
  font-size : 200%;
  line-height: 1;
}

h3{
  font-size : 100%;
  line-height: 1;
}

body{
    color: black;
    font-family:"游ゴシック";
    font-size : 150%;
    background-color: white;
  }

p{
  line-height: 1;
}